.nav {
  grid-area: nav;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}

.nav__item {
  list-style: none;

}

.link {
  text-decoration: none;
  color: grey;
}

.active {
  text-decoration: none;
  color: indianred;
}