.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav app-content app-content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-content {
  grid-area: app-content;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}


